/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  height: 90vh;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  font-size: 16px;
  max-width: 300px;
}

a:hover{
  background-color: black;
  z-index: 100;
}

a {
  cursor: help;
  visibility: visible;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid red;
  word-break: keep-all;
  position: relative;
  z-index: 10;
}